.first__label,
.second__label,
.third__label {
    margin-top: 60px;


    @media #{$desktop} {
        margin-top: 40px;
    }
}

.second__label {
    @media #{$desktop} {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.label__box {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 500px;
    background-color: $mainColor;
    vertical-align: top;
    text-align: center;
    cursor: default;

    & h3 {
        margin-top: 30px;
        font-size: 20px;
    }

    &__option {
        color: $secondColor;
    }

    &__price {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        width: 130px;
        height: 130px;
        border: 2px solid $thirdColor;
        border-radius: 50%;
        background-color: $mainColor;
        color: $forthColor;
        
        &__text {
            display: inline-block;
            font-size: 40px;
            margin-left: 10px;
            margin-top: 30px;
            color: $thirdColor;

            & span {
                font-size: 16px;
                vertical-align: top;
            }
        }

        &__plan {
            display: inline-block;
            font-size: 15px;
            margin-top: 5px;
            color: $thirdColor;
        }
    }

    &__service {
        margin-top: 60%;
        padding-left: 0;
        font-size: 24px;
        color: $thirdColor;

        & li {
            padding: 7px 0;
            border-top: 1px solid $thirdColor;
            border-bottom: 1px solid $thirdColor;
        }
    }

    &__button {
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $thirdColor;
        border-radius: 10px;
        border: 0;
        cursor: pointer;
        color: $mainColor;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 3px 3px 17px -4px rgba(0,0,0,0.75);       
    }

    &__button:focus {
        outline: 0;
      }

    &__button:hover {
      transform: scale(1.1);
      transition: .5s;
      color: $forthColor;
      bottom: 15px;
      left: 26%;
    }
}

.big__circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: $mainColor;
    border: 2px solid $thirdColor;
    border-radius: 50%;
}

.small__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    background-color: $secondColor;
    border: 2px solid $thirdColor;
    border-radius: 50%;
}