.main__slider__bg {
    background: linear-gradient($mainColor, $secondColor);
}
.banner {
    min-height: 500px;
    display: flex;
    &__slider {
        flex-grow: 1;
        position: relative;
        display: flex;
        width: 50%;
        align-items: center;
        
        & ul{
            list-style: none;
          }
          & li{
            display: none;
            
          }
          & .visible{
            display: inline-block;
          }
      }
      &__box {
          display: flex;
          align-items: center;
          padding-left: 5%;
          &__text {
              font-size: 35px;
              color: $thirdColor;
              text-transform: uppercase;
              margin-bottom: 20%;
              cursor: default;
          }
          &__all{
            & ul{
                list-style: none;
              }
              & li{
                display: none;
              }
              & .visible{
                display: inline-block;
              }
          }
          &__button {
              background-color: $thirdColor;
              display: flex;
              margin-left: 50%;
              margin-top: 50px;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 50px;
              padding-right: 50px;
              text-transform: uppercase;
              cursor: pointer;
              border: 0;
              border-radius: 10px;
              font-size: 25px;
              box-shadow: 3px 3px 17px -4px rgba(0,0,0,0.75);
          }
          &__button:focus {
              outline: 0;
            }
          &__button:hover {
            transform: scale(1.2);
            transition: .5s;
            color: $forthColor;
          }
      }
  }
  #prevPic,
  #nextPic {
    width: 85px;
    font-size: 80px;
    color: $thirdColor;
    border:0;
    background: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    flex-direction: row;
    
  }
  #prevPic:hover,
  #nextPic:hover {
    color: $secondColor;
  }
  #nextPic {
    order: 1;
  }


  
 