$mainColor: #ffffff;
$secondColor: #cecece;
$thirdColor: #2485a0;
$forthColor: #26272b;
$fifthColor: #2485a033;
$sixthColor: #bfdfe7;
$desktop: "screen and (min-width: 1024px)";
$tablet: "screen and (min-width: 640px)";